@font-face {
  font-family: 'inter';
  src: url(../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --primary-darkest-blue: #04146B;
  --primary-medium-blue: #152679;
  --primary-lighter-blue: #273B8E;
  --primary-lightest-blue: #3B54AA;

  --primary-darkest-purple: #8C02B5;
  --primary-medium-purple: #A203CD;
  --primary-lightest-purple: #edc8f8;
  --primary-light-purple: #BA0DE5;
  --primary-lighter-purple: #D938FC;

  --contrast-green: #DFF842;
  --neutral-black: #1D201F;
  --neutral-white: #FDFFF4;
  --neutral-white-opacity: rgba(253, 255, 244, 1);

  --facebook-logo-color: #1877F2;
  --instgram-logo-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

  --font-large: calc(30px + 0.390625vw);
  --font-medium: calc(16px + 0.390625vw);
  --font-small: calc(14px + 0.390625vw);


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
/* background-color: var(--primary-medium-blue); */
}

.Signup, .Login, .Intro, .Interests {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
height: 100vh;

}

.Intro-text {
  max-width: 350px;
}

.Interests-title {
  max-width: 40%;
}

.Signup-title {
  text-align: start;
}

.Intro-text h1 {
margin-left: 0;
}

/* .Signup-title h1, .Login h1, .Signup-title p, .Login p, .Intro h1, .Intro p {
  text-align: center;
} */

.Signup-title h1 {
  margin: 0;
}

h1 {
  font-size: var(--font-large);
  /* color: var(--neutral-white); */
  /* margin: 50px 25px 0; */
}

.Interests h1 {
  margin: 0;
}

p {
  /* color: var(--neutral-white); */
  font-size: var(--font-small);
}

a {
  color: var(--primary-medium-purple);
  font-size: var(--font-small);
}

a:hover {
  color: var(--primary-darkest-purple);
  transition: 0.5s;
}

.Intro-text {
  max-width: 60%;
  text-align: center;
}

.InterestsForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;

}


input[type='text'], input[type='password'] {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  /* background-color: var(--neutral-white); */
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid var(--primary-medium-purple);
  
}

input[type='text']:focus, input[type='password']:focus {
  outline: none;
  border: 2px solid var(--contrast-green);
  transition: 0.5s;
}

.Onboarding-back {
color: var(--primary-medium-purple);
  text-decoration: none;
  font-size: var(--font-small);
 background-color: transparent;
 border: none;
  cursor: pointer;
}

.socialmedia-apps {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.socialmedia-app {
list-style: none;

}
.socialmedia-button {
  margin: 10px;
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  color: var(--neutral-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialmedia-button.facebook {
  background-color: var(--facebook-logo-color);
}

.socialmedia-button.instagram {
  background: var(--instgram-logo-color);
}

.socialmedia-button.contacts {
  background: var(--primary-darkest-blue);
}


.socialmedia-button:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}

.facebook:before {
  background: url("icons/facebook.svg") no-repeat;
}

.instagram:before {
  background: url("icons/instagram.svg") no-repeat;
}

.contacts:before {
  background: url("icons/phone.svg") no-repeat;
  width: 17px;
  height: 20px;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.friend-info {
  display: flex;
  flex-direction: column;
}


.Submit {
  margin: 10px 0;
  background-color: var(--primary-medium-purple);
  border: none;
  border-radius: 25px;
  width: 350px;
  height: 50px;
  color: var(--neutral-white);
  font-size: var(--font-medium);
  font-weight: bold;
  cursor: pointer;
}

.Submit:hover {
  background-color: var(--primary-darkest-purple);
  transition: 0.5s;
}

.AllEvents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 max-width: 100vw;
}
.Event {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  margin: 0 20px 25px;
  height: 450px;
  list-style-type: none;
}

.EventImages {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
   border-radius: 25px 25px 25px 25px;
}

.EventImages::-webkit-scrollbar {
  display: none;
}

.Filters {
margin: 5px 0 0 20px;
}

.EventCategories, .Filters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.EventCategories {
  top: 40px;
}
.EventCategory, .Filter {

  color: var(--neutral-white);
  text-decoration: none;
  border-radius: 25px;
  height: 30px;
  padding: 5px 15px;
  font-size: var(--font-small);
  font-weight: bold;
  margin: 0 5px;
}

.EventCategory {
  background-color: var(--primary-medium-purple);
}

.Filter {
  background-color: var(--contrast-green);
  color: var(--neutral-black);
  list-style: none;
}

.EventCategory:first-of-type {
  margin-left: 20px;
}

.EventImage {
   width: 100vw;
  /* height: 90vh; */
  object-fit: cover;
  
}

.EventInfo {
  background-color: var(--neutral-white-opacity);
  color: var(--neutral-black);
  width: 80vw;
  height: 150px;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  padding: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 520px;
  
}

.EventInfo-date {
  font-size: var(--font-small);
}

.EventInfo-date:before, .EventInfo-location:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 4px;
}

.Onboarding-back:before {
content: "";
display: block;
width: 94px;
height: 43px;
float: left;
margin-left: -22px;
transform: scale(0.4);
}


.EventInfo-date:before {
  background: url("icons/clock.svg") no-repeat;

}

.EventInfo-location:before {
  background: url("icons/location.svg") no-repeat;

}

.Onboarding-back:before {
  background: url("icons/arrow-new.svg") no-repeat;

}

.EventInfo-friend {
  color: grey;
  font-size: 14px;
}

.EventInfo-title {
  font-size: var(--font-medium)
}

.EventInfo-links {
  margin-top: 10px;
}
.EventInfo-links, .EventInfo-friends {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.EventInfo-link {
 background-color: var(--primary-medium-purple);
  color: var(--neutral-white);
  text-decoration: none;
  border-radius: 25px;
  height: 30px;
  padding: 0 15px;
  font-size: var(--font-small);
  font-weight: bold;
  cursor: pointer;
}


/* sign up checkbox styling AND modal checkbox styling */

.Interests input, .friend input[type="checkbox"] {
  position: absolute;
  left: -100vw; /* don't hide the input but move it out of view instead for better accessibility   */
}

.Interests label {
  background-color: transparent;
  border: 1px solid var(--primary-medium-purple);
  color: var(--primary-medium-purple);
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  margin: 0 5px 5px 5px; 
  font-size: var(--font-small);
  cursor: pointer;
}

.Interests label:hover {
  font-weight: bold;
  border: 1px solid var(--primary-darkest-purple);
  color: var(--primary-darkest-purple);
  transition: 0.5s;
}

.Interests input:checked + label, .friend input:checked + label {
  background-color: var(--contrast-green);
  color: var(--neutral-black);
  border: none;
}

.friend-info label::before {
  content: '+ Toevoegen';

}

/* Style label when checkbox is unchecked */
.friend-info input:checked + label::before {
  content: '- Verwijderen';
}




.friend label {
  background-color: transparent;
  border: 1px solid var(--primary-medium-purple);
  color: var(--primary-medium-purple);
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 0 5px 5px 5px; 
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.friend label:hover {
  background-color: var(--primary-medium-purple);
  border: 1px solid var(--primary-medium-purple);
  color: white;
  transition: 0.5s;

}

/* onboarding */

/* ONBOARDING CSS */
section.onboarding {
  display: none;
  animation: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* button for next steps */
button.onboarding-start {
  background-color: var(--primary-medium-purple);
  border: none;
  color: var(--neutral-white);
  border-radius: 25px 25px 25px 25px;
  padding: 10px 30px;
  margin-top: 15px;
  cursor: pointer;
} 
/* change button text in steps */
 /* div.onboarding div:first-of-type ~ button.onboarding-start::before {
  content: "Begin";
}
section.onboarding
  div:nth-of-type(2).active
  ~ button.onboarding-start::before {
  content: "Volgende stap";
} */

@media screen and (max-width: 600px) {
 .Event {
  max-width: 90%;
 }

 .Interests-title {
  max-width: 90%;
}


}

@media screen and (min-width: 600px) {
  .Event {
   max-width: 550px;
  }

  .Interests-title {
    max-width: 80%;
  }
 }

