@font-face {
  font-family: 'inter';
  src: url(../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --primary-blue: #3C0DA8;
  --primary-purple: #E67DE3;
  --primary-green: #DFF842;
  --neutral-black: #1D201F;
  --neutral-white: #FDFFF4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'inter', sans-serif;
}

.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  max-width: 50vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
 

}

input[type='text'], input[type='password'] {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 8px 40px;
  border: 1px solid black;
  
}

.Interests {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
  padding-top: 20px;

  
}


