@font-face {
  font-family: 'inter';
  src: url(../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);

}

:root {
  --primary-darkest-blue: #04146B;
  --primary-medium-blue: #152679;
  --primary-lighter-blue: #273B8E;
  --primary-lightest-blue: #3B54AA;

  --primary-darkest-purple: #8C02B5;
  --primary-medium-purple: #A203CD;
  --primary-lightest-purple: #edc8f8;
  --primary-light-purple: #BA0DE5;
  --primary-lighter-purple: #D938FC;

  --contrast-green: #DFF842;
  --neutral-black: #1D201F;
  --neutral-white: #f9f9f9;
  --neutral-white-opacity: rgb(255, 255, 255);

  --category-red: #e74c3c;
  --category-orange: #e67e22;
  --category-yellow: #f1c40f;
  --category-green: #2ecc71;
  --category-petrol: #1abc9c;
  --category-blue: #3498db;
  --category-purple: #cf9ce3;
  --category-pink: #ea3b75; 
  --category-gray: #404040; 
  

  --facebook-logo-color: #1877F2;
  --instgram-logo-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

  --font-xxlarge: calc(50px + 0.390625vw);
  --font-large: calc(30px + 0.390625vw);
  --font-medium: calc(16px + 0.390625vw);
  --font-small: calc(14px + 0.390625vw);
  --font-xsmall: calc(12px + 0.390625vw);


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
/* background-color: var(--primary-medium-blue); */
}

.Muziek {
  background-color: var(--category-red);
}

.Kunst {
  background-color: var(--category-orange);
}

.Sport {
  background-color: var(--category-yellow);
}

.Design {
  background-color: var(--category-green);
}

.Theater {
  background-color: var(--category-petrol);
}

.Gaming{
  background-color: var(--category-blue);
}

.Reizen {
  background-color: var(--category-purple);
}

.Film {
  background-color: var(--category-pink);
}

.Sport {
  background-color: var(--category-gray);
}

a {
  text-decoration: none;
}

.Signup, .Login, .Intro, .Interests, .Review, .Account {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
height: 100vh;

}

.Intro-text {
  max-width: 350px;
}

.Interests-title {
  max-width: 40%;
}

.Signup-title {
  text-align: start;
}

.Intro-text h1 {
margin-left: 0;
}


.Signup-title h1 {
  margin: 0;
}

h1 {
  font-size: var(--font-large);
  /* color: var(--neutral-white); */
  /* margin: 50px 25px 0; */
}

.Interests h1 {
  margin: 0;
}


p {
  font-size: var(--font-small);
}

a {
  color: var(--primary-medium-purple);
  font-size: var(--font-small);
}

a:hover {
  color: var(--primary-darkest-purple);
  transition: 0.5s;
}


.Intro-text {
  max-width: 60%;
  text-align: center;
}

.InterestsForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;

}


input[type='text'], input[type='password'], textarea {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  /* background-color: var(--neutral-white); */
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid var(--primary-medium-purple);
  
}



.Review-text {
  height: 200px;
}

.Review textarea::placeholder {
  padding-top: 10px;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--contrast-green);
  transition: 0.5s;
}



.Onboarding-back {
color: var(--primary-medium-purple);
  text-decoration: none;
  font-size: var(--font-small);
 background-color: transparent;
 border: none;
  cursor: pointer;
}

.socialmedia-apps {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.socialmedia-app {
list-style: none;

}
.socialmedia-button {
  margin: 10px;
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  color: var(--neutral-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialmedia-button.facebook {
  background-color: var(--facebook-logo-color);
}

.socialmedia-button.instagram {
  background: var(--instgram-logo-color);
}

.socialmedia-button.contacts {
  background: var(--primary-darkest-blue);
}


.socialmedia-button:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}

.facebook:before {
  background: url("icons/facebook.svg") no-repeat;
}

.instagram:before {
  background: url("icons/instagram.svg") no-repeat;
}

.contacts:before {
  background: url("icons/phone.svg") no-repeat;
  width: 17px;
  height: 20px;
}

.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.friend-info {
  display: flex;
  flex-direction: column;
}


.Submit {
  margin: 10px 0;
  background-color: var(--primary-medium-purple);
  border: none;
  border-radius: 25px;
  width: 350px;
  height: 50px;
  color: var(--neutral-white);
  font-size: var(--font-medium);
  font-weight: bold;
  cursor: pointer;
}

.Submit:hover {
  background-color: var(--primary-darkest-purple);
  transition: 0.5s;
}

.Submit:focus, .Onboarding-start:focus {
  background-color: var(--primary-medium-purple);
  border: 2px solid var(--primary-darkest-blue);
  transition: 0.5s;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100vw;
  height: 10vh;
  margin: 20px 0 40px 0;
}

.Nav-logo {
  max-width: 200px;
}

.Nav-account-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Nav-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Nav-button {
  background-color: transparent;
  border: none;
  font-size: var(--font-small);
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
  padding-right: 10px;
}

.AllEvents {
  margin: auto 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 max-width: 100vw;
}

.Events-title {
  margin: 0 0 0 6%;
}
.Event {
  display: flex;
  flex-direction: column;
align-items: center;
  position: relative;
  margin: 10px 20px 25px;
  height: 430px;
  list-style-type: none;
}

.EventImages {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
   border-radius: 15px;
}

.EventImages::-webkit-scrollbar {
  display: none;
}

.Filters {
margin: 5px 0 0 20px;
}

.EventCategories, .Filters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.EventCategories {
  width: 100%;
  top: 40px;
}
.EventCategory, .Filter {
  color: var(--neutral-white);
  text-decoration: none;
  border-radius: 25px;
  height: 30px;
  padding: 5px 15px;
  font-size: var(--font-small);
  font-weight: bold;
  margin: 0 5px;
}

/* .EventCategory {
  background-color: var(--primary-medium-purple);
} */

.Filter {
  background-color: var(--contrast-green);
  color: var(--neutral-black);
  list-style: none;
}

.EventCategory:first-of-type {
  margin-left: 20px;
}

.EventImage {
   width: 100%;
  object-fit: cover;
  
}

.EventDetails {
  width: 90%;
  position: absolute;
  top: 50%;

  
}
.EventReviews, .EventInfo {
  background-color: var(--neutral-white-opacity);
  color: var(--neutral-black);
  background-color: var(--neutral-white-opacity);
  border-radius: 10px;
  padding: 10px 10px 20px 20px;
  /* width: 90%; */
}

.EventReviews {
  padding: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 50px;
}

.FriendImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.EventReview, .EventInfo-title, .EventInfo-date, .EventInfo-location {
  display: inline-block;
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.EventInfo-date {
  font-size: var(--font-small);
}

.EventInfo-date:before, .EventInfo-location:before, .SingleEvent-date:before, .SingleEvent-organizer:before, .SingleEvent-location:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 4px;
}

.Modal-back {
  background-color: transparent;
  border: none;
}

.Modal-textarea {
  height: 150px;
  padding: 10px;
  width: 50%;
}

.Onboarding-back:before, .Modal-back:before {
content: "";
display: block;
width: 94px;
height: 43px;
float: left;
margin-left: -22px;
transform: scale(0.4);
}


.EventInfo-date:before, .SingleEvent-date::before {
  background: url("icons/clock.svg") no-repeat;

}

.EventInfo-location:before, .SingleEvent-location::before {
  background: url("icons/location.svg") no-repeat;

}

.Onboarding-back:before, .Modal-back:before {
  background: url("icons/arrow-new.svg") no-repeat;

}


.SingleEvent-organizer::before {
  background: url("icons/clipboard.svg") no-repeat;
}

.Review-subtitle {
  padding-top: 10px;
  font-size: var(--font-small);
  color: var(--neutral-black);
}

.Review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.star-label::before {
  content: "";
display: block;
width: 50px;
height: 50px;
  background: url('icons/star.png');
  background-repeat: no-repeat;
  transition: 0.5s;
}

.star-checkbox input:checked + .star-label:before {
  background: url('icons/star-fill.png'); /* Replace with your filled star image */
  background-repeat: no-repeat;
  color: transparent;
  width: 50px;
height: 50px;
}

.EventInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.EventInfo-friend {
  color: grey;
  font-size: 14px;
}

.EventInfo-title {
  font-size: var(--font-medium)
}

.EventInfo-links {
  margin-top: 10px;
}

 .EventInfo-friends {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.EventInfo-links a {
 background-color: var(--primary-medium-purple);
  color: var(--neutral-white);
  text-decoration: none;
  border-radius: 25px;
  /* height: 30px; */
  padding: 5px 15px;
  font-size: var(--font-small);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.EventInfo-links a:first-of-type {
  margin-right: 10px;
}

.EventInfo-links a:hover {
  background-color: var(--primary-darkest-purple);
  transition: 0.5s;
}


/* sign up checkbox styling AND modal checkbox styling */

.Interests input, .friend input[type="checkbox"], .star-checkbox input[type="checkbox"] {
  position: absolute;
  left: -100vw; /* don't hide the input but move it out of view instead for better accessibility   */
}

.Interests label {
  background-color: transparent;
  border: 1px solid var(--primary-medium-purple);
  color: var(--primary-medium-purple);
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 25px;
  margin: 0 5px 5px 5px; 
  font-size: var(--font-small);
  cursor: pointer;
  transition: 0.5s;
}

.Interests label:hover {
  background-color: var(--primary-medium-purple);
  border: 1px solid var(--primary-medium-purple);
  color: var(--neutral-white);
  transition: 0.5s;
}

.Interests input:checked + label {
  background-color: var(--contrast-green);
  color: var(--neutral-black);
  border: none;
}



.friends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.friend {
  margin: 20px 10px;
}

/* Style label when checkbox is unchecked */
.friend-info input[type="checkbox"] + label::before {
  content: '+ Toevoegen';
}

/* Style label when checkbox is checked */
.friend-info input[type="checkbox"]:checked + label::before {
  content: '- Verwijderen';
}

.friend label {
  background-color: transparent;
  border: 1px solid var(--primary-medium-purple);
  color: var(--primary-medium-purple);
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 0 5px 5px 5px; 
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.friend-info input[type="checkbox"]:checked + label {
  background-color: var(--primary-medium-purple);
  border: 1px solid var(--primary-medium-purple);
  color: white;
  transition: 0.5s;

}

.friend-name {
  padding: 0 0 5px 10px;
}
/* onboarding */

/* ONBOARDING CSS */
section.onboarding {
  display: none;
  animation: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* button for next steps */
button.onboarding-start {
  background-color: var(--primary-medium-purple);
  border: none;
  color: var(--neutral-white);
  border-radius: 25px 25px 25px 25px;
  padding: 10px 30px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.5s;
} 

button.onboarding-start:hover {
  background-color: var(--primary-darkest-purple);
  transition: 0.5s;
}

button.onboarding-start.copy {
  margin-right: 15px;
}

button.onboarding-start.copy:focus {
 background-color: var(--contrast-green);
  color: var(--neutral-black);
  transition: 0.5s;
}

/* detailpage */
.SingleEvent-details {
  display: flex;
  flex-direction: row;
max-width: 80%;
margin: 0 auto;
}

.SingleEvent-meta {
margin-top: 120px;
min-width: 25%;
}

.SingleEvent-image, .SingleEvent-map {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.SingleEvent-image {
  padding-bottom: 20px;
}

.SingleEvent-title {
  font-size: var(--font-xxlarge);
  margin: 30px 0 0 0;
}

.SingleEvent-date, .SingleEvent-organizer, .SingleEvent-location {
  font-size: var(--font-small);
  margin: 10px 0;
}


.SingleEvent-description, .SingleEvent-description-full {
  max-width: 90%;
  font-size: var(--font-medium);
  margin: 20px 0;
}

.SingleEvent-subtitle {
max-width: 50%;
margin: 20px 0 0 10%;
}

.SingleEvent-review {
  border: 1px solid var(--primary-medium-purple);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
max-width: 50%;
margin: 20px 0 40px 10%;
}

.SingleEvent-review-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

.SingleEvent-review-name, .EventReview {

  font-size: var(--font-xsmall);
  font-style: italic;
  color:#636363;
}

.SingleEvent-review-text{
  padding-left: 10px;
}

.SingleEvent-review-image {
  padding-right: 20px;
}


/* REVIEW */

.Review-header {
  background-color: var(--contrast-green);
  padding: 30px;
  margin: 5%;
  border-radius: 10px;
}


div.ReactModal__Content.ReactModal__Content--after-open {
  border: 1px solid var(--primary-medium-purple) !important;
}



@media screen and (max-width: 600px) {
 .Event {
  max-width: 90%;
 }

 .Interests-title, .Add-friends {
  max-width: 90%;
}

.SingleEvent-details {
  display: flex;
  flex-direction: column;
}

.SingleEvent-meta {
  margin-top: 20px;
}


.SingleEvent-review, .SingleEvent-subtitle {
  max-width: 90%;

}

.SingleEvent-review {
  margin: 20px 0 40px 20px;
}

.Modal-textarea {
  height: 150px;
  width: 90%;
}

}

@media screen and (min-width: 600px) and (max-width: 850px) {
  .SingleEvent-details {
    display: flex;
    flex-direction: column;
  }

  .SingleEvent-meta {
    margin-top: 20px;
  }
 }

@media screen and (min-width: 600px) {
  .Event {
   width: 450px;
  }

  .Interests-title, .Add-friends {
    max-width: 80%;
  }
 }
